In [5]:
# Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see
break = 5

SyntaxError: ignored

The break statement terminates the loop containing it.

In [6]:
#. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

In [9]:
birth_year = 1987
current_year = 2021
Age = current_year - birth_year
Age

34

In [20]:
3. Store your first, middle and last name in three different variables and then print your full name using these variables

first_name = "SAM"
last_name =  "ALEX"
middle_name = "BOURNE"
print(first_name + last_name + middle_name)

SyntaxError: ignored

In [30]:
# Answer which of these are invalid variable names: "_nation, 1record, record1, record_one, record-one, record^one, continue"

In [23]:
_nation = 1

In [24]:
1record = 2

SyntaxError: ignored

In [25]:
record1 = 3

In [26]:
record_one = 4

In [27]:
record-one = 5

SyntaxError: ignored

In [28]:
record^one = 6

SyntaxError: ignored

In [29]:
continue = 7

SyntaxError: ignored