Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [3]:
expenses =[2200, 2350, 2600, 2130,2190]
expenses

Month =["January", "February", "March", "April", "May"]
Month

['January', 'February', 'March', 'April', 'May']

In [4]:
1. In Feb, how many dollars you spent extra compare to January?

Jan_exp = 2200
Feb_exp = 2350
Mar_exp = 2600
Apr_exp = 2130
May_exp = 2190

Extra_spent_in_feb = Jan_exp - Feb_exp
Extra_spent_in_feb

Object `January` not found.

-150

In [5]:
expenses =[2200, 2350, 2600, 2130,2190]
expenses

[2200, 2350, 2600, 2130, 2190]

In [6]:
feb_extra_exp = expenses[1] - expenses[0]
feb_extra_exp

150

In [8]:
# 2. Find out your total expense in first quarter (first three months) of the year.
first_quart = expenses[0] + expenses[1] + expenses[2]
first_quart

7150

In [14]:
#3. Find out if you spent exactly 2000 dollars in any month
expenses

2000 in expenses

False

In [17]:
#4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
expenses
expenses.append(2000)
expenses

[2200, 2350, 2600, 2130, 2190, 2000, 2000]

In [19]:
# 5. You returned an item that you bought in a month of April and got a refund of 200$.
# Make a correction to your monthly expense list based on this
expenses[3]

2130

In [20]:
expenses[3] - 200

1930

In [21]:
exp_3 = expenses[3] - 200

In [22]:
expenses

[2200, 2350, 2600, 2130, 2190, 2000, 2000]

In [23]:
expenses.insert(3,exp_3)
expenses

[2200, 2350, 2600, 1930, 2130, 2190, 2000, 2000]