In [1]:
expenses = [2100, 2300, 2345, 2948, 2384]

total = 0
for xyz in expenses:
  total = total + xyz
  print(total)

2100
4400
6745
9693
12077

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [31]:
expenses = [2100, 2300, 2345, 2948, 2384]
range(len(expenses))

range(0, 5)

In [33]:
expenses = [2100, 2300, 2345, 2948, 2384]

total = 0
for i in range(len(expenses)):
  print("MONTH :", (i+1), expenses[i])
  total = total + expenses[i]

print(total)

MONTH : 1 2100
MONTH : 2 2300
MONTH : 3 2345
MONTH : 4 2948
MONTH : 5 2384
12077

#RANGE FUNCTIONS

In [22]:
range(5)

range(0, 5)

In [25]:
a = range(5)
print(a)

range(0, 5)

In [27]:
print("JESUS LOVES YOU SO MUCH")

JESUS LOVES YOU SO MUCH

# FOR LOOP & IF CONDITION

In [37]:
job_loc = "New Jersey"
location = ["New York", "New Jersey", "Toronto", "Ottawa"]

for i in location:
  if i == job_loc:
    print("Location is in: ", i)
    break
  else :
    print("No idea ")

No idea
Location is in:  New Jersey

In [38]:
for i in range(1,11):
  if i%2==0:
    print(i**2)

4
16
36
64
100

# WHILE LOOP

In [40]:
i = 1
while i<=5:
  print(i)
  i = i+1

1
2
3
4
5