<a href="https://colab.research.google.com/github/pradeepV2/PYHTON_LAB/blob/master/DS2_ARRAYS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stock price details of 5 days

#1. FIND OUT THE STOCK PRICE BASED ON THE INDEX POSITION

In [6]:
stock_price = [232,342,453,56, 876, 1237, 980]
print(stock_price)

# IF we want to find the price of Day-4
stock_price[3]
print("TOTAL STOCCK PRICE OF DAY-5 is : " , stock_price[3])


# IF we want to find the price of Day-7
stock_price[6]
print("TOTAL STOCCK PRICE OF DAY-6 is : " , stock_price[6])

[232, 342, 453, 56, 876, 1237, 980]
TOTAL STOCCK PRICE OF DAY-5 is :  56
TOTAL STOCCK PRICE OF DAY-6 is :  980

 INDEX of an ARRAY starts with zero

#Distribution of values inside the RAM (memory) will be as below 

298 -> 0x00500 ;
342 -> 0x00504 ;
453 -> 0x00508 ;
56  -> 0x0050A ;
876 -> 0x0050E ;
123 -> 0x0050I ;
980 -> 0x0050M

# These hexadecimal values are the addresses on the RAM

298 = 100101010

# Integers are stored in 4 bytes

For example, 4 byte equivalent value of 298 : -
298 = 00000000 00000000 00000001 00101010

#1 Byte = 8 Bits

298 -> 0x00500 ;
342 -> 0x00504 ;
453 -> 0x00508 ;
56  -> 0x0050A ;
876 -> 0x0050E ;
123 -> 0x0050I ;
980 -> 0x0050M

0x00500 -> 00000000
0x00501 -> 00000000
0x00502 -> 00000001
0x00503 -> 00101010

0x00504 -> 00000000
0x00504 -> 00000000
0x00504 -> 00000001
0x00504 -> 01010110


0x00508
0x0050A
0x0050E
0x0050I
0x0050M

# The index lookup for an array here, will be an order of 1
# Becuase we were looking up for the values based on index position this is

# SCENARIO -2

FIND OUT THE POSITION OF THE VALUE IN AN ARRAY

# On what day the stock price is 1237, here we are not looking by Index but we are looking by value

In [ ]:
# Let's try that using a simple FOR LOOP, we will ierate the values one by one check the opoition

In [27]:
stocks = [232, 342, 453, 56, 876, 1237, 980]

for i in range(len(stocks)) :
  if stocks[i] == 1237 :
    print(i)

5

# Here, we have performed N - number of Iterations using this FOR LOOP

# If there are more numbers in an ARRAY and the required number is present in the last position of an ARRAY, then the LOOP iterates for the maximum number of iterations, i.e., equal to the length of an ARRAY

# SCENARIO :- 3 # PRINT ALL PRICES

In [29]:
stocks = [232, 342, 453, 56, 876, 1237, 980]

for i in stocks :
  print(i)

232
342
453
56
876
1237
980

In [30]:
# Here also, the LOOP iterates for all the values in the LIST

# Complexity of this program is also order of N

# SCENARIO - 4 # Insert a value based on index

In [2]:
stocks = [232, 342, 453, 56, 876, 1237, 980]
stocks.insert(1, 222)
stocks

[232, 222, 342, 453, 56, 876, 1237, 980]

Here, the value 222 is inserted at the index-2 and all the other values were shifted
Hence, N- number of positions were shifted and hence it is inthe order of N

In [3]:
#SCENARIO - 5 : DELETE AN ELEMENT FROM AN ARRAY
stocks

stocks.pop(1)

stocks

[232, 342, 453, 56, 876, 1237, 980]